<div ng-show="ctrl.MenuSelecionado == 'COMPRAS'">
    <div class="col-md-12">

        <table class="table table-condensed">
            <thead>
                <tr style="background-color:aqua">
                    <th>Data</th>
                    <th>Descrição Compra</th>
                    <th>Valor Total</th>
                    <th>Forma Pgto</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.ProximaLigacao.DadosLigacao.COMPRAS track by item.CODIGO"
                  ng-click="ctrl.SelectCompra = $index"> 

                    <td>{{ item.DATA | date:'dd/MM/yyyy'}}</td>
                    <td>{{ item.DESCRICAO }}</td>
                    <td>{{ item.VALOR | currency:'':2}}</td>
                    <td>{{ item.FORMA_PGTO }}</td>

                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-md-12">

        <table class="table table-condensed">
            <thead>
                <tr style="background-color:aqua">
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Unidade</th>
                    <th>Valor</th>
                    <th>Desconto</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.ProximaLigacao.DadosLigacao.COMPRAS[ctrl.SelectCompra].Itens">

                    <td>{{ item.CODPROD }}</td>
                    <td>{{ item.DESCRICAO }}</td>
                    <td>{{ item.QDT }}</td>
                    <td>{{ item.UN_MEDIDA }}</td>
                    <td style="text-align-last:center">{{ item.VALOR_UN | currency:'':2}}</td>
                    <td style="text-align-last:center">{{ item.DESCONTO | currency:'':2}}</td>                   

                </tr>
            </tbody>

        </table>

    </div>
</div>