
<div class="col-md-12">
<div class="row">
        <div class="col-md-6 form-group">
            <label>Razão Social</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.RAZAO" class="form-control">
        </div>
        <div class="col-md-6 form-group">
            <label>Nome Fantasia</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.FANTASIA" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>CPF/CNPJ</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.CPF_CNPJ" class="form-control">
        </div>
        <div class="col-md-3 form-group">
            <label>RG/Inscrição Estadual</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.IE_RG" class="form-control">
        </div>
        <div class="col-md-2 form-group">
            <label>Tipo Pessoa</label>
            <select class="form-control" ng-model="ctrl.ProximaLigacao.PESSOA">
                <option value=""></option>
                <option value="FIS">Física</option>
                <option value="JUR">Jurídica</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Código ERP</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.COD_ERP" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>Campanha</label>
            <input type="text" readonly ng-model="ctrl.ProximaLigacao.DadosLigacao.CAMPANHA"
                   class="form-control">
        </div>
        <div class="col-md-4 form-group">
            <label>Carteira</label>
            <input type="text" readonly ng-model="ctrl.ProximaLigacao.DadosLigacao.CARTEIRA"
                   class="form-control">
        </div>
        <div class="col-md-2 form-group">
            <label>Data do Cadastro</label>
            <input type="date" readonly ng-model="ctrl.ProximaLigacao.DATACAD" wt-iso-date class="form-control">
        </div>
        <!--<div class="col-md-2 form-group">
            <label>Exceção</label>
            <p class="geral">Não</p>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="fonte_08">{{ctrl.MenuSelecionado}}</p>
        </div>
</div>

</div>