<div class="container">
    <div class="row cor_fundo_01">
        <div class="col-md-6 margem_03">
            <img src="img/logo_sistema_inpulse_cinza.png" alt="">
        </div>

        <div class="col-md-3">
            <p class="fonte_04 margem_03">OPERADOR: {{currentUser.LOGIN}}</p>
            <p class="fonte_05">Login em:</p>
            <p class="fonte_05">Tempo logado:</p>
        </div>
        <div class="col-md-3">
            <p class="fonte_04 margem_03 cursorpointer" ng-click="logout()">SAIR</p>

            <p class="fonte_05">Ligações discadas:</p>
            <p class="fonte_05">Produtividade:</p>
        </div>
    </div>
    <div class="row cor_fundo_02">
        <div class="col-md-4">
            <p class="fonte_02 margem_03" align="center">Código: {{ctrl.ProximaLigacao.id}}</p>
        </div>
        <div class="col-md-4">
            <p class="fonte_02 margem_03" align="center">Prioridade: {{ctrl.ProximaLigacao.DadosLigacao.PRIORIDADE}}</p>
        </div>
        <div class="col-md-4">
            <p class="fonte_02 margem_03" align="center">Ligações dos últimos 7 dias:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row cor_fundo_04">
                <div class="col-md-12">
                    <p class="fonte_02 margem_03">{{ctrl.StatusLigacao}}</p>
                    <p class="fonte_01">{{ctrl.ProximaLigacao.DadosLigacao.FONE}}</p>
                </div>
            </div>
            <div class="row cor_fundo_03">
                <div class="col-md-3">
                    <img src="img/ligacoes.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_02 margem_03">TEMPO DE LIGAÇÃO</p>
                    <p class="fonte_01">
                        {{ctrl.tempoLigacao}}
                    </p>
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-9">
                    <p class="fonte_02 margem_03">TEMPO LOGADO</p>
                    <p class="fonte_01">
                      {{ctrl.tempoTotal}}
                    </p>
                </div>
            </div>
            <div class="row cor_fundo_03">
                <div class="col-md-12  margem_04">
                    <input type="submit" value="AGENDA">
                    <input type="submit" value="FINALIZAR" ng-click="ctrl.AbrirModalFinalizar()">
                </div>
                <div class="col-md-12">
                    <input type="submit" value="TECLADO V" ng-click="ctrl.AbrirModalTeclado()">
                    <input type="submit" ng-click="ctrl.LiberarLigacao()" value="LIBERAR">
                </div>
            </div>
            <div class="row cor_fundo_03">
                <div class="col-md-12 ">
                    <input type="checkbox">
                    <label class="fonte_06">Pausar na próxima ligação</label>
                </div>
            </div>
            <div class="row cor_fundo_05">
                <div class="col-md-3">
                    <img src="img/endereco.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_10 margem_05" ng-click="ctrl.MenuSelecionado = 'ENDEREÇO'">
                        ENDEREÇO
                    </p>
                </div>
            </div>
            <div class="row linha">
                <div class="col-md-12 ">
                </div>
            </div>
            <div class="row cor_fundo_05">
                <div class="col-md-3">
                    <img src="img/origem.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_10 margem_05" ng-click="ctrl.MenuSelecionado = 'ORIGEM'">ORIGEM</p>
                </div>
            </div>
            <div class="row linha">
                <div class="col-md-12 ">
                </div>
            </div>
            <div class="row cor_fundo_05">
                <div class="col-md-3">
                    <img src="img/contato.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_10 margem_05" ng-click="ctrl.MenuSelecionado = 'CONTATOS'">CONTATOS</p>
                </div>
            </div>
            <div class="row linha">
                <div class="col-md-12 ">
                </div>
            </div>
            <div class="row cor_fundo_05">
                <div class="col-md-3">
                    <img src="img/observacao.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_10 margem_05" ng-click="ctrl.MenuSelecionado = 'OBSERVAÇÕES'">OBSERVAÇÕES</p>
                </div>
            </div>
            <div class="row linha">
                <div class="col-md-12 ">
                </div>
            </div>
            <div class="row cor_fundo_05">
                <div class="col-md-3">
                    <img src="img/telefones.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_10 margem_05" ng-click="ctrl.MenuSelecionado = 'TELEFONES'">TELEFONES</p>
                </div>
            </div>
            <div class="row linha">
                <div class="col-md-12 ">
                </div>
            </div>
            <div class="row cor_fundo_05">
                <div class="col-md-3">
                    <img src="img/compras.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_10 margem_05" ng-click="ctrl.MenuSelecionado = 'COMPRAS'">COMPRAS</p>
                </div>
            </div>
            <div class="row linha">
                <div class="col-md-12 ">
                </div>
            </div>
            <div class="row cor_fundo_05">
                <div class="col-md-3">
                    <img src="img/calendario.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_11 margem_05" ng-click="ctrl.MenuSelecionado = 'AGENDA'">AGENDA</p>
                </div>
            </div>
            <div class="row linha">
                <div class="col-md-12 ">
                </div>
            </div>
            <div class="row cor_fundo_03">
                <div class="col-md-3">
                    <img src="img/historico.png">
                </div>
                <div class="col-md-9">
                    <p class="fonte_10 margem_05">HISTÓRICO</p>
                </div>
            </div>
            <div class="row barra">
                <div class="col-md-12 ">
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <form>
                <div ng-include="'features/Ativo/DadosGerais.html'"></div>
                <div ng-include="'features/Ativo/Observacoes.html'"></div>
                <div ng-include="'features/Ativo/Endereco.html'"></div>
                <div ng-include="'features/Ativo/Origem.html'"></div>
                <div ng-include="'features/Ativo/Contato.html'"></div>
                <div ng-include="'features/Ativo/Telefones.html'"></div>
                <div ng-include="'features/Ativo/Compras.html'"></div>
                <div ng-include="'features/Ativo/Agenda.html'"></div>
                <div ng-include="'features/Ativo/Historico.html'"></div>
            </form>
        </div>
    </div>

</div>


<script type="text/ng-template" id="TempoDiscagem.html">
    <form name="formItens">
        <div class="modal-header">
        </div>

        <div class="modal-body" id="modal-body">

            <fieldset>              

            </fieldset>

        </div>
        <div class="modal-footer">
            <span class="pull-right">
                <button class="btn btn-sm btn-primary hidden-print" ng-click="ok()"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
                <button class="btn btn-sm btn-warning hidden-print" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
            </span>
        </div>
    </form>
</script>