<div class="col-md-12" ng-show="ctrl.MenuSelecionado == 'ORIGEM'" >
   
    <div class="row">
        <div class="col-md-4 form-group">
            <label>Grupo</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.DadosLigacao.GRUPO"
                   class="form-control">
        </div>
        <div class="col-md-4 form-group">
            <label>Origem</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.DadosLigacao.ORIGEM"
                   class="form-control">
        </div>  
        
        <div class="col-md-4 form-group">
            <label>Mídia</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.DadosLigacao.MIDIA"
                   class="form-control">
        </div> 
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label>E-mail</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.EMAIL"
                   class="form-control">
        </div>
        <div class="col-md-6 form-group">
            <label>WebSite</label>
            <input type="text" maxlength="15" ng-model="ctrl.ProximaLigacao.WEBSITE"
                   class="form-control">
        </div>  
        
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            <label>Contato E-mail</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.CONTATO_MAIL"
                   class="form-control">
        </div>

        <div class="col-md-4 form-group">
            <label>Operador</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.DadosLigacao.NOME_OPERADOR"
                   class="form-control">
        </div> 

        <div class="col-md-4 form-group">
            <label>Segmento</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.DadosLigacao.SEGMENTO"
                   class="form-control">
        </div>        
        
    </div>

</div>