<div class="container text-center" >

    <div class="col-lg-12 col-lg-offset-4">
        <p>
            <nav class="navbar navbar-default">

                <ul class="nav navbar-nav "> 
                    <li>
                        <button class="btn btn-primary btn-lg alert-link" 
                                ui-sref="Iniciar">Iniciar</button>
                    </li>
                </ul>

                <ul class="nav navbar-nav ">
                    <li>
                        <button class="btn btn-danger btn-lg alert-link" ng-click="logout()">Fechar</button>
                    </li>
                </ul>
                
            </nav>
        </p>
    </div>

   <!--<div class="col-lg-12 col-lg-offset-4">        
        <p>
            <button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.addItem()">Mesa 01</button>

            <button type="button" class="btn btn-primary btn-lg">Mesa 02</button>

            <button type="button" class="btn btn-primary btn-lg">Mesa 03</button>
        </p>
   </div>

    <div class="col-lg-12 col-lg-offset-4">
        <p>
            <button type="button" class="btn btn-primary btn-lg">Mesa 04 {{currentUser.NOME}}</button>

            <button type="button" class="btn btn-primary btn-lg">Mesa 05</button>

            <button type="button" class="btn btn-primary btn-lg">Mesa 06</button>
        </p>
    </div>

    <div id="repositorio"></div>-->


</div>