body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}


.btn-yellow {
    background: rgb(250, 255, 140);
    color: #574500;
    border: none;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

.btn-mesa{
    white-space: normal;
    font-size: initial; 
}  
  
/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
